@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  width: max-content;
}

@keyframes marquee {
  0% {
    transform: translateX(15);
  }
  100% {
    transform: translateX(-50%);
  }
}